.top-container{
  background-color: #FCE2DB;
  text-align: center;
  height: 805px;
  width: 1500px;
}

.middle-container{
  background-color: #F1C6D3;
  height: 820px;
  width: 1500px;
}

.bottom-container{
  background-color: #E4A3D4;
  height: 820px;
  width: 1500px;
}

.lowest_section{
  background-color: #C295D8;
  height: 300px;
  width: 1500px;
}

table{
  padding-top: 200px;
}

body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin-top: 0;
  padding-top: 50px;
  font-family: 'Sacramento', sans-serif;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}


img{
  width: 70%;
  height: 70%;
}

#mountain{
  padding-top: 60PX;
}
